{% macro markdown_textarea(caption='Text (Markdown)', id='markdown', text=None, auto_focus=False) %}
  <label class="form-label" for="{{ id }}">
    <span>{{ caption }}</span>
    <a href="https://docs.tildes.net/text-formatting" target="_blank" tabindex="-1">Formatting help</a>
  </label>
  <textarea
    class="form-input"
    id="{{ id }}"
    name="markdown"
    placeholder="Text (Markdown)"
    data-js-ctrl-enter-submit-form
    {% if auto_focus %}data-js-auto-focus{% endif %}
  >{% if text %}{{ text }}{% endif %}</textarea>
{% endmacro %}

{% macro topic_tagging(value=None, auto_focus=False) %}
  <div class="form-group">
    <label class="form-label" for="tags">
      <span>Tags (optional, comma-separated)</span>
      <a href="https://docs.tildes.net/topic-tagging" target="_blank" tabindex="-1">Tagging help</a>
    </label>
    <input
      class="form-input"
      id="tags"
      name="tags"
      placeholder='Tags (like "music, soundtrack, full album")'
      {% if value %} value="{{ value }}"{% endif %}
      {% if auto_focus %}data-js-auto-focus{% endif %}
    >
  </div>
{% endmacro %}

{% macro search_form(existing_query=None) %}
  <form class="form-search" method="GET" action="/search">
    <div class="input-group">
      <input
        type="text"
        class="form-input input-sm"
        name="q"
        id="q"
        {% if existing_query %}value="{{ existing_query }}"{% endif %}
      >
      <button class="btn btn-sm btn-link">Search</button>
    </div>
  </form>
{% endmacro %}
